
/* GALLERY REALTED */
.maz-thumbgal .blocks-gallery-grid > *:not(:first-of-type){
  width: 5% !important;
  height: 10% !important;
}
.maz-thumbgal .blocks-gallery-grid> *{
  padding: 0 10px;
  margin: 0 !important;
}
.maz-thumbgal .blocks-gallery-grid> *:first-of-type{
  width: 100% !important;
  padding-bottom: 20px;
  margin: 0;
}


.maz-frame__title{
  font-size: var(--heading--font-size-h2);
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: 5%;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 3;
}


/* FIG CAPTION */
.wp-block-image{
  position: relative;
  overflow: hidden;

  figcaption{
    // margin: 0;
    // position: absolute;
    // top: 0;
    // z-index: 3;
    // right: 0;
    // color: white;
    // font-weight: 700;
    // font-size: 3em;
    // text-align: left;
    // margin-top: -0.15em;
    // margin-left: -0.06em;
    // line-height: 1em;
    // pointer-events: none;

    color: white;
    font-size: var(--heading--font-size-h2);
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 5%;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 3;

    strong{
      font-size: 0.5em;
      line-height: 1.5em;
      position: relative;
      font-style: normal;
      font-weight: 700;
      display: inline-block;

    }


    // @media(max-width: 960px){
    //   font-size: 1.5em;
    // }

  }
}

//     box-shadow: inset 0 -1px 0 0 #fff, inset 0 -10px 0 0 #bdb;


/* LINK HOVER ON GALLERY AND GRID IMAGES */

@keyframes flash {
  0% {
    opacity: 0.85;
    filter: brightness(1.25);
  }
  100% {
    opacity: 1;
  }
}

.wp-block-image a{
  display: flex;
}

a:hover{
  animation: flash 1.0s forwards;
}



.site-main a:not(.wp-block-button__link){

  // box-shadow: inset 0 -2px 0 0 #fff, inset 0 -10px 0 0 #2b35ff33;
  box-shadow: inset 0 -10px 0 0 var(--wp--style--color--link--light, #2b35ff33);
  text-decoration: none;
  transition: all 0.25s;

  &:focus,
  &:hover{
    box-shadow: inset 0 -2px 0 0 #fff, inset 0 -4px 0 0 currentColor;
  }
}

.site-main .has-small-font-size a:not(.wp-block-button__link),
.site-main .has-extra-small-font-size a:not(.wp-block-button__link){
  box-shadow: inset 0 -7px 0 0 var(--wp--style--color--link--light, #2b35ff33);
}

.site-main .article-aside-text a:not(.wp-block-button__link){
  box-shadow: inset 0 -7px 0 0 #b9635f33;
}


.blocks-gallery-item a:hover img,
.wp-block-image a:hover img{
  opacity: 1;
  animation-delay: 0.2s;
}



/* COLUMNS (RESPONSIVE WIDTH) */
@media (max-width: 781px){
  body .site-content .wp-block-column {
    flex-basis: 100%!important;
  }
}



/* COLUMNS (CONTENT MINOR ADJUSTMENTS) */
.wp-block-columns .wp-block-column > h2:last-child{
  margin-bottom: var(--global--spacing-vertical);
}


.wp-block-image{
  position: relative;

  img{
    position: relative;
  }

  &__image-preloader{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // z-index: -1;
  }
}


.wp-block-cover{
  position: relative;

  .wp-block-image__image-preloader{
    background-size: cover;
  }
}


.wp-block-gallery{
  .blocks-gallery-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width: 599px){
      width: calc((90% - var(--global--spacing-unit)) / 2);
      width: 44%;
      margin: 3%;
    }
  }
}

.wp-block-image img{
  align-self: flex-start;
}

.wp-block-image.is-style-twentytwentyone-border img,
.wp-block-image.is-style-twentytwentyone-image-frame img{
  border: calc(1 * var(--separator--height)) solid var(--global--color-border);
}


// BLOG GRID
.portfolio-post-grid{
  max-width: calc(100% + 30px) !important;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);

  .cl-element{
    font-family: inherit !important;

    &.cl-element-excerpt{
      font-size: 1.5rem;
      font-family: inherit !important;
    }

    &.cl-element-title{
      position: absolute;
      bottom: 100%;

      a{
        // opacity: 0;
        color: white;
        text-decoration: none !important;
        // text-shadow: -1px 1px 15px rgba(0,0,0,0.55);
        text-shadow: 1px 1px 25px #00000022;
        // pointer-events: none;
        padding: 0 5px;
      }
    }

    .cl-element-featured_media__anchor{
      padding-bottom: 100%;
      width: 100%;
      // position: relative;
      z-index: 1;
    }

    .cl-element-featured_media__image{
      // position: absolute;
      // width: 100%; height: 100%;
      // left: 0; top: 0;
      // object-fit: cover;
      z-index: 1;

      &.this--hascolor{
        opacity: 0.45;
        mix-blend-mode: luminosity;
      }
    }

    .cl-element-featured_media__placeholder-image{
      display: none;
    }

  }

  .cl-element-featured_media--no-image .cl-element-featured_media__anchor{
    z-index: 0;
  }



  // .cl-template--image-top .cl-element-featured_media--sizing-natural.cl-element-featured_media--no-image{
  //   padding-top: 100%;
  // }

  .cl-template{
    h3{
      font-size: 1.5rem;
      font-family: inherit;
    }
  }

  .portfolio-color-tag{
    display: none;
  }

}