
/* MORE UTILITY CLASSES */
.font-100{ font-weight: 100; }
.font-200{ font-weight: 200; }
.font-300{ font-weight: 300; }
.font-400{ font-weight: 400; }
.font-500{ font-weight: 500; }
.font-600{ font-weight: 600; }
.font-700{ font-weight: 700; }
.font-800{ font-weight: 800; }
.font-900{ font-weight: 900; }
.nowrap{ white-space: nowrap; }


.font-feature-initial{
  font-feature-settings: initial;
}

.uptop{
  background: white !important;
  box-shadow: 1px -20px 25px -30px rgb(0 0 0 / 15%);
  margin-top: -1em !important;
  padding: 0.1em 0.2em;
  position: relative;

  @media(max-width: 781px){
    &.dynamic-headline{
      margin-left: auto;
      width: calc(100% - 30px);
      margin-right: 0;
      padding-left: 5px !important;
    }
  }
}


.text-center{
  text-align: center;
}


.homepage-top-overlap{
  margin-top: -400px !important;
}


.position-relative{
  position: relative;
  z-index: 2;
}


.ru-about{
  padding-left: 60px !important;
  position: relative;
  z-index:1;
}

.ru-about,
.ru-about-mobile{
  @media(max-width: 767px){
    padding-left: 40px !important;
  }
}

.ru-about-tablet{
  @media(max-width: 996px){
    padding-left: 40px !important;
  }
}


.home-alignment{
  @media(min-width: 768px) and (max-width: 1200px){
    max-width: 90%;
  }
}



/* SITE-WIDE EDITS */
.wp-block-columns .wp-block-column > h2:last-child{
  margin-bottom: var(--global--spacing-vertical);
}


@media(min-width: 782px){
  .article-aside-text{
    position: relative;
    left: -1em;
  }
  .article-aside-text a{
    color: inherit !important;
    filter: brightness(0.8);
  }
}




.wondershadow{
  text-shadow:
    1px 0px white,
    2px 0px white,
    3px 0px white,
    4px 0px white,
    5px 0px white,
    6px 0px white,
    7px 0px white,
    8px 0px white,
    9px 0px white,
    10px 0px white,
    11px 0px white,
    12px 0px white;
}


.large-right-block{

  @media(min-width: 1200px){
    .wp-block-column:nth-child(2) > *{
      padding-right: 25% !important;
    }
  }

  @media(max-width: 781px){
    .wp-block-column{
      &:nth-child(1){
        order: 2;
      }
      &:nth-child(2){
        order: 1;
      }
    }
  }
}


.soft-white-text-shadow{
  text-shadow: 1px 1px 20px #ffffff44;
}




@keyframes scrollwindow{
  from{
    object-position: top;
  }
  to{
    object-position: bottom;
  }
}

.scroll-mockup,
.static-mockup{
  position: relative;
  overflow: visible;
  margin: 100px auto;
}
.scroll-mockup{
  height: 0;
  padding-bottom: 50%;
}

.scroll-mockup .wp-block-image__image-preloader{
  background-size: cover;
}

.static-mockup img{
  position: relative;
}
.scroll-mockup img{
  position: relative;
  animation: scrollwindow 10s;
  animation-iteration-count:infinite;
  animation-timing-function: cubic-bezier(0.72, 0.0, 0.29, 1);
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9
}

.static-mockup:before,
.scroll-mockup:before{
  content: '';
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 60px);
  height:  calc(100% + 60px);
  box-shadow: 1px 2px 10px #00000011, 2px 5px 25px #00000022;
  border-radius: 20px;
}
.static-mockup:after,
.scroll-mockup:after{
  content: '';
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:  100%;
  box-shadow: 2px 2px 7px #00000011 inset;
}

.wp-block-column .scroll-mockup{
  padding-bottom: 66%;
}
.wp-block-column .scroll-mockup:before{
  width: calc(100% + 30px);
  height: calc(100% + 40px);
  border-radius: 20px;
}


.fixed-width-gallery .blocks-gallery-grid{
  width: 100%;
}
.fixed-width-gallery figure{
  height: 0;
  padding-bottom: 80%;
  position: relative;
  width: 100%;
}
.fixed-width-gallery a,
.fixed-width-gallery img{
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}


.mobile-only{
  @media(min-width: 768px){
    display: none !important;
  }
}


.display-none{
  display: none !important;
}




.view-more-homepage{
  position: absolute;
  bottom: -5px; right: 0;

  @media(max-width: 600px){
    position: relative;
  }
}

.maz-frame{
  padding-bottom: 125%;
  position: relative;
}
.maz-frame iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
}



// PORTFOLIO PIECE (offset image section)

.portfolio-piece{
  overflow: hidden;
  position: relative;

  & > .wp-block-column:first-child{
    position: relative;
  }

  & *{
    overflow: visible;
  }

  img{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.25s;
  }

  & > .wp-block-column:first-of-type .wp-block-columns:hover img{
    transform: scale(1.02);
  }

  & > .wp-block-column:first-of-type .wp-block-columns{
    height: 0;
  }


  @media(min-width: 782px){
    &.short-column > .wp-block-column:first-of-type .wp-block-columns{
      height: 0;

      // alternative
      height: 80%;
      max-height: 40vw;
      overflow: hidden;
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    &:before{
      content:'';position:absolute;
      width: 110%; height: 2px;
      right:0; bottom: 0;
      background-color: currentcolor;
      z-index: 5
    }
  }

  @media(min-width: 782px) and (max-width: 1200px){
    font-size: 1.2rem;
    max-width: 85%;
  }

  @media(max-width: 781px){

    & > .wp-block-column:last-of-type{
      padding-top: 25px;
    }

    .wp-block-column .wp-block-columns:not(.portfolio-piece__websitelist) .wp-block-column{
      width: 50% !important;
      flex-basis: 50% !important;
    }

      & > .wp-block-column:first-of-type .wp-block-columns{
      min-height: 200px;
      height: 40vw;
      overflow: hidden;
      margin-bottom: -2em;
      margin-top: -50px;
      border-bottom: 2px solid;
      padding: 50px 20px 0 10px;
    }

    & .wp-block-column:first-of-type .wp-block-columns .wp-block-column:last-of-type{
      margin-top: 50px;
      margin-left: -50px;
    }

    &__websitelist .wp-block-column{
      margin-left: 0;
      width: 100%;
      flex-basis: 100%;
    }

  }

  @media(max-width: 700px){
    &__websitelist .wp-block-column{
      margin-left: 0;
      width: 100% !important;
      flex-basis: 100% !important;
    }
  }

}




// PORTFOLIO SCREEN WRAPPER
.portfolio-row .wp-block-image{
  overflow: visible;
}
.portfolio-row .wp-block-image:before{
  content: '';position:absolute;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  left: -8px; bottom: -8px;
/*  background: red; */
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd;
}
.portfolio-row .wp-block-image__image-preloader:before,
.portfolio-row .wp-block-image__image-preloader:after,
.portfolio-row .wp-block-image:after,
.portfolio-row .wp-block-image a:after{
  content: '';position:absolute;
  top: -19px; left: 5px;
  width: 8px; height: 8px;
  background: #f0f0f0;
  border-radius: 100%;
}
.portfolio-row .wp-block-image__image-preloader:before{
  left: 17px;
}
.portfolio-row .wp-block-image__image-preloader:after{
  left: 29px;
}
.portfolio-row .wp-block-image a:after{
  right: calc(50% - 20px);
  transform: translateX(50%);
  top: -21px;
  width: calc(100% - 60px);
  height: 12px;
  left: auto;
  border-radius: 3px;
  background-color: #f5f5f5;
}





.portfolio-square{
  display: block;
  position: relative;
  height: 0 !important;
  padding-bottom: 100% !important;
  text-decoration: none !important;
  box-shadow: none !important;

  h4{
    position: absolute;
    bottom: 5px;
    left: 8px;
    width: calc(100% - 16px);
    z-index: 2;
    text-decoration: none !important;
    color: inherit !important;
  }
}

@media(max-width: 996px){
  body .site-content .portfolio-squares{
    flex-wrap: wrap;
  }
  body .site-content .portfolio-squares .wp-block-column{
   flex-basis: calc(50% - 2em) !important;
   margin: 0 2em 0 0 !important;
  }
}

