.wpcf7{

  .label-style{
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  .label-font{
    white-space: nowrap;
    display: inline-block;
    margin-right: 0.5em;
    font-size: inherit;
    font-weight: 600;
  }

  input,
  .wpcf7-form-control-wrap{
    width: 100%;
  }

  input,
  textarea{
    padding-bottom: 0;
    margin-top: 0.5em;
    font-weight: normal;
    border: none;
    font-size: 1.2rem;
    font-style: italic;
    border-bottom: 3px solid black;
  }

  textarea{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .wpcf7-not-valid-tip{
    position: absolute;
    z-index: 9;
    font-size: 1rem;

  }
  input:focus,
  textarea:focus{
    outline-style: none !important  ;
    border-color: var(--wp--style--color--link);
  }
  textarea:focus,
  p:focus-within{
    color: var(--wp--style--color--link);
  }
  p:focus-within{
    *{
      color: var(--wp--style--color--link);
    }
  }
  .wpcf7-form-control.wpcf7-submit{
    font-style: normal;
    padding: 10px 0 0;
    background: transparent !important;
    color: inherit !important;
    font-size: 2.0rem;
    font-weight: 600;
    font-family: inherit;
    text-align: right;
    margin-left: 0;
    border: none;

    float: right;
    width: auto;
    border: 3px solid;
    padding: 5px 15px 2px;
    margin-top: 40px;

    @media(max-width: 781px){
      margin-bottom: 50px;
      float: left;
      font-size: 1.5rem;
    }
  }
  .wpcf7-form-control.wpcf7-submit:focus,
  .wpcf7-form-control.wpcf7-submit:active,
  .wpcf7-form-control.wpcf7-submit:hover{
    color: var(--wp--style--color--link) !important;
  }

  .grow-wrap{
    position: relative;
    display: block;
  }
  .grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
  }
  .grow-wrap > textarea {
    resize: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    font-size: 1.2rem;
    font-style: italic;
    // border: 1px solid black;
    // padding: 0.5rem;
    padding-bottom: 20px;
  }
  .grow-label > br{
    display: none;
  }
  .grow-label{
    margin-top: 1em;
  }
  .this--select{
    color: var(--wp--style--color--link) !important;
  }

}