
#masthead-i,
#masthead{
  background: transparent;
  height: auto;
  left: 60px;
  margin-left: auto;
  max-width: 100vh;
  padding: 0;
  padding-right: 40px;
  position: fixed;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 100vh;
  z-index: 1000;
  top: 10px;

  @media(max-height: 600px), (max-width: 450px) {
    left: 35px;
  }
}

.site-logo {
  margin: 0;
}
.site-logo .custom-logo{
  height: 60px !important;
  margin: 0;

  @media(max-height: 600px), (max-width: 450px) {
    height: 25px !important;
  }
}

.primary-navigation-i a:hover,
.primary-navigation a:hover{
  text-decoration-style: initial;
}
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) img{
  // outline: 1px solid var(--wp--style--color--link, var(--global--color-primary));
  outline: auto 5px var(--wp--style--color--link, var(--global--color-primary));
  // outline: none;
  // #303aff
}
.site .button:focus, button:focus, input[type=submit]:focus, input[type=reset]:focus, .wp-block-search .wp-block-search__button:focus, .wp-block-button .wp-block-button__link:focus, .wp-block-file a.wp-block-file__button:focus{
  outline: 2px solid currentColor;
}

.site-header > .site-logo{
  padding-bottom: 0;
  width: auto;
  border: none;
}

.site-header > .site-logo,
.primary-navigation-i,
.primary-navigation{
  transform: rotate(180deg)
}



.primary-navigation {
  position: relative;
  margin-left: auto;
}
.site-logo .custom-logo {
  max-width: var(--branding--logo--max-width);
  max-height: var(--branding--logo--max-height);
  height: auto;
  width: auto;
}

@media(max-width: 481px){
  .site-header.has-logo.has-title-and-tagline.has-menu {
    justify-content: initial;
  }
}

.primary-navigation-i{
  position: absolute;
  right: 20px;
  ul{
    display: flex;
    list-style: none;
    white-space: nowrap;
    padding: 0;

    li{
      color: inherit;

      a{
        // margin: 0 15px;
        display: inline-block;
        text-decoration: none;

        padding-left: var(--primary-nav--padding);
        padding-right: var(--primary-nav--padding);
        color: var(--primary-nav--color-link-hover);

        &:hover{
          text-decoration: underline;
          text-decoration-style: solid;
        }
      }
    }
  }
}


.primary-navigation-i .current-menu-item > a:first-child{
  text-decoration: underline;
  text-decoration-style: solid;
}

.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button){
  background: transparent;
}